/* -----------
 CSS Reset
 -------------*/

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
/* -----------
 Body Container
 -------------*/
.grid-container {
	display: grid;
	grid-template-columns: 65px 1fr;
	grid-template-rows: 65px 1fr;
	grid-template-areas:
		"alias-nav alias-header"
		"alias-main alias-main";
}
.grid-filter {
	filter: brightness(40%);
	background-color: #dcdcdc;
}

/* -----------
 Header
 -------------*/

.header-container {
	grid-area: alias-header;
	position: relative;
	display: flex;
	align-items: center;
}
.header-container-2 {
	display: flex;
	position: fixed;
	width: 100vw;
	background-color: lightblue;
}
#hamburger-icon {
	width: 65px;
	padding: 25px;
	height: 65px;
}
#hamburger-icon:hover {
	cursor: pointer;
}

.header-item1,
.header-item2,
.header-item3 {
	display: flex;
	align-items: center;
	height: 65px;
	flex-grow: 1;
}
.header-item1 {
}
.header-item2 {
}
.header-item3 {
	margin-right: 60px;
}
.header-site {
	display: flex;
	gap: 4px;
	align-items: center;
}
.header-icon {
	margin: 8px;
}
.header-title {
	font-size: 20px;
}
.header-search {
	display: flex;
}
.search-container {
	display: flex;
}
.search-bar-wrapper {
	display: none;
}
.search-input {
	border-top-left-radius: 40px;
	border-bottom-left-radius: 40px;
	border-left: none;
	border: 1px solid black;
	height: 35px;
	display: none;
	text-indent: 8px;
}
.search-input::placeholder {
	padding: 8px;
}
.header-search-icon1 {
	border: 1px solid black;
	border-top-left-radius: 40px;
	border-bottom-left-radius: 40px;
	font-size: 16px;
	height: 35px;
	padding: 10px 10px;
	background-color: white;
	border-right: none;
	display: none;
}
.header-search-icon2 {
	height: 35px;
	width: 35px;
	border-radius: 50%;
	padding-left: 6px;
	padding-top: 16px;
}
.header-search-icon2:hover {
	cursor: pointer;
	background-color: lightgrey;
}
.header-microphone {
	height: 35px;
	width: 35px;
	border-radius: 50%;
	padding-left: 9px;
	padding-top: 8px;
}
.header-microphone:hover {
	cursor: pointer;
	background-color: lightgrey;
}
.header-ellipsis {
	margin: 8px;
}

input:focus {
	outline: none;
	border: none;
	box-shadow: none;
}

.btn-signIn {
	border-radius: 40px;
	border: 1px solid black;
	display: flex;
	align-items: center;
	padding: 5px 10px;
	gap: 8px;
}
.btn-signIn:hover {
	background-color: blue;
	cursor: pointer;
}
.user-icon {
	border: 1px solid black;
	border-radius: 50%;
	padding: 2px;
}
/* -----------
 Nav
 -------------*/
.nav-container {
	grid-area: alias-nav;
	background-color: white;
	position: fixed;
}
.nav-item-container {
	display: none;
}
.nav-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
}
.nav-name {
	margin-top: 8px;
	font-size: 12px;
}
#nav-small {
	display: none;
	position: fixed;
	background-color: white;
	width: 220px;
	top: 0px;
	z-index: 1;
	padding: 15px;
	padding-right: 0px;
}
hr {
	border-style: solid;
	border-width: 1px;
	border-color: lightgray;
	margin-bottom: 8px;
}
.nav-small-container {
	display: flex;
	flex-direction: column;
}
.nav-large-container {
	display: none;
	grid-area: alias-nav-items;
	background-color: white;
	height: 100vh;
}

.nav-small-logo {
	display: flex;
	align-items: center;
	margin-bottom: 40px;
}
.nav-small-logo-item {
	display: flex;
	align-items: center;
	flex-basis: 80%;
}
#nav-small-Xbar {
	flex-basis: 20%;
}
.nav-small-option-container {
	overflow-y: scroll;
	height: 100vh;
}
.nav-small-option {
	display: flex;
	margin-bottom: 16px;
	gap: 16px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-radius: 8px;
}
.nav-small-option:hover {
	cursor: pointer;
	background-color: lightgrey;
}
.nav-small-option:hover:has(.btn-signIn) {
	background-color: white;
}
.nav-small-option-icon {
	flex-basis: 15%;
	text-align: center;
}
.nav-small-option-title {
	font-size: 18px;
	text-align: center;
}
.nav-heading {
	font-size: 24px;
}
.nav-heading:hover {
	background-color: white;
}
.nav-desc {
	margin-bottom: 8px;
}
.nav-desc:hover {
	background-color: white;
}
/* -----------
 Main
 -------------*/
.main-container {
	grid-area: alias-main;

	display: flex;
	flex-direction: column;
	align-items: center;
}
.main-slider {
}

.main-video {
	display: flex;
	width: 100%;

	flex-wrap: wrap;
	margin-top: 8px;
}
.main-video-item {
	flex-basis: 100%;

	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 40px;
}
.video-thumbnail1 {
	background-image: url("img/video3.jpg");
	height: 300px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 8px;
}
.video-info {
	display: flex;
	margin-top: 8px;
	gap: 8px;
}
.video-profile {
	width: 40px; /* Adjust the size of the dot */
	height: 40px; /* Adjust the size of the dot */
	border-radius: 50%; /* Create a circular shape */
	border: 1px solid black;
	background-image: url("img/profile.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.video-text {
}
.title-item {
	font-weight: 700;
	font-size: 20px;
}
.view-item {
	display: flex;
	align-items: center;
	gap: 5px;
}
.dot {
	width: 4px; /* Adjust the size of the dot */
	height: 4px; /* Adjust the size of the dot */
	border-radius: 50%; /* Create a circular shape */
	background-color: black;
	display: inline-block;
}

.main-shorts {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
	gap: 25px;
}
.main-shorts-item {
	flex-basis: 42%;
}
.short-thumbnail1 {
	background-image: url("img/short1.jpg");
	height: 400px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 8px;
}

/* -----------
 Breakpoints
 -------------*/

@media (min-width: 576px) {
	.main-video {
		width: 85%;
	}

	.main-shorts {
		width: 85%;
		gap: 30px;
	}
	.main-shorts-item {
		flex-basis: 40%;
	}
	.header-item1 {
		flex-basis: 20%;
	}
	.header-item2 {
		justify-content: center;
	}
	.header-item3 {
		justify-content: center;
		margin-right: 40px;
	}
	.header-search-icon2 {
		background-color: lightgray;
	}
}
@media (min-width: 768px) {
	.grid-container {
		grid-template-areas:
			" alias-nav alias-header"
			"alias-nav alias-main";
	}
	.nav-container {
		height: 100%;
	}
	.nav-item-container {
		display: block;
	}
	.main-video {
		width: 100%;
	}

	.main-video-item {
		flex-basis: 50%;
	}

	.main-shorts {
		width: 100%;
		gap: 20px;
	}

	.main-shorts-item {
		flex-basis: 28%;
	}
	.header-item1 {
		flex-basis: 0;
	}
	.header-item3 {
		margin-right: 16px;
	}
	.search-bar-wrapper {
		display: block;
	}
	.search-input {
		display: block;
	}
	.header-search-icon2 {
		border-radius: 0;
		border-top-right-radius: 40px;
		border-bottom-right-radius: 40px;
		border: 1px solid black;
		height: 35px;
		width: 35px;
		padding: 15px 4px;
	}
}
@media (min-width: 992px) {
	.main-shorts {
		gap: 20px;
	}
	.main-shorts-item {
		flex-basis: 22%;
	}
	.header-item1 {
		flex-basis: 10%;
	}
	.header-item3 {
		margin-right: 0px;
	}
}
@media (min-width: 1200px) {
	.main-video-item {
		flex-basis: 33.33%;
	}
	.main-shorts-item {
		flex-basis: 14.3%;
	}
	.header-item1 {
		flex-basis: 25%;
	}
	.header-item2 {
		justify-content: flex-start;
	}
}
@media (min-width: 1400px) {
	.main-video-item {
		flex-basis: 25%;
	}
	.main-shorts {
		gap: 30px;
	}
	.header-item1 {
		flex-basis: 40%;
	}
	.header-item2 {
		flex-basis: 40%;
	}

	.grid-container {
		width: 1400px;
		margin: 0 auto;
	}
	.header-container-2 {
		width: 1335px;
		border: 1px solid black;
	}
}
